
<html>
<head><meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>C.D.C Member</title>
 <link rel = "icon" href ="images/logo2.jpg" 
        type = "image/x-icon">   

<meta name="viewport" content="width=device-width, initial-scale=1">
 {{>links}}
 
</head>
<body>
<div class="team-w3l" id="team">
		<div class="container">
			<h3 class="w3l-title">COLLEGE DEVELOPMENT COMMITTEE MEMBER </h3>
      <br>
			<div class="w3layouts_header">
				<p><i class="fa fa-graduation-cap" aria-hidden="true"></i></p>
			</div>
			<div class="team-w3l-grid">
				<div class="col-md-4 col-sm-4 col-xs-4 about-poleft t1">
					<div class="about_img"><img src="../images/t-staff/khamkar.jpg" alt="">
						<h5>Dr.B.M Khamkar sir</h5>
						<div class="about_opa">
							<p>Principal</p>
							<ul class="fb_icons2 text-center">
								<li><a class="fa fa-facebook" href="#"></a></li>
								<li><a class="fa fa-twitter" href="#"></a></li>
								<li><a class="fa fa-google" href="#"></a></li>
								<li><a class="fa fa-linkedin" href="#"></a></li>
								<li><a class="fa fa-pinterest-p" href="#"></a></li>
							</ul>
						</div>
					</div>
				</div>
				<div class="col-md-4 col-sm-4 col-xs-4 about-poleft t1">
					<div class="about_img"><img src="../images/t-staff/khamkar.jpg" alt="">
						<h5>Dr.B.M Khamkar sir</h5>
						<div class="about_opa">
							<p>Principal</p>
							<ul class="fb_icons2 text-center">
								<li><a class="fa fa-facebook" href="#"></a></li>
								<li><a class="fa fa-twitter" href="#"></a></li>
								<li><a class="fa fa-google" href="#"></a></li>
								<li><a class="fa fa-linkedin" href="#"></a></li>
								<li><a class="fa fa-pinterest-p" href="#"></a></li>
							</ul>
						</div>
					</div>
				</div>
				<div class="col-md-4 col-sm-4 col-xs-4 about-poleft t1">
					<div class="about_img"><img src="../images/t-staff/khamkar.jpg" alt="">
						<h5>Dr.B.M Khamkar</h5>
						<div class="about_opa">
							<p>Principal</p>
							<ul class="fb_icons2 text-center">
								<li><a class="fa fa-facebook" href="#"></a></li>
								<li><a class="fa fa-twitter" href="#"></a></li>
								<li><a class="fa fa-google" href="#"></a></li>
								<li><a class="fa fa-linkedin" href="#"></a></li>
								<li><a class="fa fa-pinterest-p" href="#"></a></li>
							</ul>
						</div>
					</div>
				</div>
				<div class="clearfix"></div>
			</div>
			<div class="team-w3l-grid grid-2-team">
				<div class="col-md-4 col-sm-4 col-xs-4 about-poleft t1">
					<div class="about_img"><img src="../images/t-staff/khamkar.jpg" alt="">
						<h5>Dr.B.M Khamkar</h5>
						<div class="about_opa">
							<p>Principal</p>
							<ul class="fb_icons2 text-center">
								<li><a class="fa fa-facebook" href="#"></a></li>
								<li><a class="fa fa-twitter" href="#"></a></li>
								<li><a class="fa fa-google" href="#"></a></li>
								<li><a class="fa fa-linkedin" href="#"></a></li>
								<li><a class="fa fa-pinterest-p" href="#"></a></li>
							</ul>
						</div>
					</div>
				</div>
				<div class="col-md-4 col-sm-4 col-xs-4 about-poleft t1">
					<div class="about_img"><img src="../images/t-staff/khamkar.jpg" alt="">
						<h5>Dr.B.M Khamkar</h5>
						<div class="about_opa">
							<p>Principal</p>
							<ul class="fb_icons2 text-center">
								<li><a class="fa fa-facebook" href="#"></a></li>
								<li><a class="fa fa-twitter" href="#"></a></li>
								<li><a class="fa fa-google" href="#"></a></li>
								<li><a class="fa fa-linkedin" href="#"></a></li>
								<li><a class="fa fa-pinterest-p" href="#"></a></li>
							</ul>
						</div>
					</div>
				</div>
				<div class="col-md-4 col-sm-4 col-xs-4 about-poleft t1">
					<div class="about_img"><img src="../images/t-staff/khamkar.jpg" alt="">
						<h5>Dr.B.M Khamkar</h5>
						<div class="about_opa">
							<p>Principal</p>
							<ul class="fb_icons2 text-center">
								<li><a class="fa fa-facebook" href="#"></a></li>
								<li><a class="fa fa-twitter" href="#"></a></li>
								<li><a class="fa fa-google" href="#"></a></li>
								<li><a class="fa fa-linkedin" href="#"></a></li>
								<li><a class="fa fa-pinterest-p" href="#"></a></li>
							</ul>
						</div>
					</div>
				</div>
				<div class="clearfix"></div>
			</div>
      <div class="team-w3l-grid grid-2-team">
				<div class="col-md-4 col-sm-4 col-xs-4 about-poleft t1">
					<div class="about_img"><img src="../images/t-staff/khamkar.jpg" alt="">
						<h5>Dr.B.M Khamkar</h5>
						<div class="about_opa">
							<p>Principal</p>
							<ul class="fb_icons2 text-center">
								<li><a class="fa fa-facebook" href="#"></a></li>
								<li><a class="fa fa-twitter" href="#"></a></li>
								<li><a class="fa fa-google" href="#"></a></li>
								<li><a class="fa fa-linkedin" href="#"></a></li>
								<li><a class="fa fa-pinterest-p" href="#"></a></li>
							</ul>
						</div>
					</div>
				</div>
				<div class="col-md-4 col-sm-4 col-xs-4 about-poleft t1">
					<div class="about_img"><img src="../images/t-staff/khamkar.jpg" alt="">
						<h5>Dr.B.M Khamkar</h5>
						<div class="about_opa">
							<p>Principal</p>
							<ul class="fb_icons2 text-center">
								<li><a class="fa fa-facebook" href="#"></a></li>
								<li><a class="fa fa-twitter" href="#"></a></li>
								<li><a class="fa fa-google" href="#"></a></li>
								<li><a class="fa fa-linkedin" href="#"></a></li>
								<li><a class="fa fa-pinterest-p" href="#"></a></li>
							</ul>
						</div>
					</div>
				</div>
				<div class="col-md-4 col-sm-4 col-xs-4 about-poleft t1">
					<div class="about_img"><img src="../images/t-staff/khamkar.jpg" alt="">
						<h5>Dr.B.M Khamkar</h5>
						<div class="about_opa">
							<p>Principal</p>
							<ul class="fb_icons2 text-center">
								<li><a class="fa fa-facebook" href="#"></a></li>
								<li><a class="fa fa-twitter" href="#"></a></li>
								<li><a class="fa fa-google" href="#"></a></li>
								<li><a class="fa fa-linkedin" href="#"></a></li>
								<li><a class="fa fa-pinterest-p" href="#"></a></li>
							</ul>
						</div>
					</div>
				</div>
				<div class="clearfix"></div>
			</div>
      <div class="team-w3l-grid grid-2-team">
				<div class="col-md-4 col-sm-4 col-xs-4 about-poleft t1">
					<div class="about_img"><img src="../images/t-staff/khamkar.jpg" alt="">
						<h5>Dr.B.M Khamkar</h5>
						<div class="about_opa">
							<p>Principal</p>
							<ul class="fb_icons2 text-center">
								<li><a class="fa fa-facebook" href="#"></a></li>
								<li><a class="fa fa-twitter" href="#"></a></li>
								<li><a class="fa fa-google" href="#"></a></li>
								<li><a class="fa fa-linkedin" href="#"></a></li>
								<li><a class="fa fa-pinterest-p" href="#"></a></li>
							</ul>
						</div>
					</div>
				</div>
				<div class="col-md-4 col-sm-4 col-xs-4 about-poleft t1">
					<div class="about_img"><img src="../images/t-staff/khamkar.jpg" alt="">
						<h5>Dr.B.M Khamkar</h5>
						<div class="about_opa">
							<p>Principal</p>
							<ul class="fb_icons2 text-center">
								<li><a class="fa fa-facebook" href="#"></a></li>
								<li><a class="fa fa-twitter" href="#"></a></li>
								<li><a class="fa fa-google" href="#"></a></li>
								<li><a class="fa fa-linkedin" href="#"></a></li>
								<li><a class="fa fa-pinterest-p" href="#"></a></li>
							</ul>
						</div>
					</div>
				</div>
				<div class="col-md-4 col-sm-4 col-xs-4 about-poleft t1">
					<div class="about_img"><img src="../images/t-staff/khamkar.jpg" alt="">
						<h5>Dr.B.M Khamkar</h5>
						<div class="about_opa">
							<p>Principal</p>
							<ul class="fb_icons2 text-center">
								<li><a class="fa fa-facebook" href="#"></a></li>
								<li><a class="fa fa-twitter" href="#"></a></li>
								<li><a class="fa fa-google" href="#"></a></li>
								<li><a class="fa fa-linkedin" href="#"></a></li>
								<li><a class="fa fa-pinterest-p" href="#"></a></li>
							</ul>
						</div>
					</div>
				</div>
				<div class="clearfix"></div>
			</div>
		</div>
	</div>
  
    
  <div class="gallery">
  <a target="_blank" href="images/ec/advRajiv.jpg">
    <img src="images/ec/advRajiv.jpg" alt="Presidence" width="600" height="400">
  </a>
  <div class="desc"><b>Adv. Rajiv Sable<br>Presidence</b></div>
</div>

<div class="gallery">
  <a target="_blank" href="images/ec/krushna.jpg">
    <img src="images/ec/krushna.jpg" alt="Secretary" width="600" height="400">
  </a>
  <div class="desc"><b>Mr. Krushna Gandhi <br> Secretary</b></div>
</div>

<div class="gallery">
  <a target="_blank" href="images/tstaff/khamkar.jpg">
    <img src="images/tstaff/khamkar.jpg" alt="BM Khamkar" width="600" height="400">
  </a>
  <div class="desc"><b>Dr. Baban Khamkar<br>Principal</b></div>
</div>

<div class="gallery">
  <a target="_blank" href="images/tstaff/Pandey.jpg">
    <img src="images/tstaff/Pandey.jpg" alt="Pandey" width="600" height="400">
  </a>
 <div class="desc"><b> Asst. Pro. Jayshankar Pandey<br>IQAC-Coordinator</b></div>
</div>
 
<div class="gallery">
  <a target="_blank" href="images/tstaff/Singare.jpg">
    <img src="images/tstaff/Singare.jpg" alt="Singare" width="600" height="400">
  </a>
  <div class="desc"><b>Dr. Baban Singare<br> Teacher Representative</b></div>
</div>

<div class="gallery">
  <a target="_blank" href="images/ec/nitin.jpg">
    <img src="images/ec/nitin.jpg" alt="Nitin Bamgude" width="600" height="400">
  </a>
  <div class="desc"><b>Mr. Nitin Bamgude<br>Educationalist</b></div>
</div>

<div class="gallery">
  <a target="_blank" href="images/ec/vaibhav.jpg">
    <img src="images/ec/vaibhav.jpg" alt="Vaibhav Sable" width="600" height="400">
  </a>
 <div class="desc"><b>Mr. Vaibhav Sable<br>Educationalist</b></div>
</div>
   
<div class="gallery">
  <a target="_blank" href="images/ec/patnkar.jpg">
    <img src="images/ec/patnkar.jpg" alt="Abasaheb Patankar" width="600" height="400">
  </a>
 <div class="desc"><b>Dr. Abasaheb Patankar<br>Researcher</b></div>
</div>  
  
<div class="gallery">
  <a target="_blank" href="images/tstaff/amrin.jpg">
    <img src="images/tstaff/amrin.jpg" alt="Amrin" width="600" height="400">
  </a>
 <div class="desc"><b>Asst. Prof. Amrin Adkar<br>HOD Principal Nominated</b></div>
</div>  
  
<div class="gallery">
  <a target="_blank" href="images/tstaff/mehreen.jpg">
    <img src="images/tstaff/mehreen.jpg" alt="Mehreen" width="600" height="400">
  </a>
  <div class="desc"><b>Asst. Prof. Mehreen Daware<br> Teacher Representative</b></div>
</div>  
  
<div class="gallery">
  <a target="_blank" href="images/ntstaff/kekane.jpg">
    <img src="images/ntstaff/kekane.jpg" alt="Kekane" width="600" height="400">
  </a>
  <div class="desc"><b>Mr. Satish Kekane<br> Non-Teaching Representative</b></div>
</div>  

<div class="gallery">
  <a target="_blank" href="images/ec/shipurkar.jpg">
    <img src="images/ec/shipurkar.jpg" alt="Shipurkar" width="600" height="400">
  </a>
  <div class="desc"><b>Mr. Sudhakar Shipurkar<br> Member-CDC</b></div>
</div>  
<div class="gallery">
  <a target="_blank" href="images/ec/hajite.jpg">
    <img src="images/ec/hajite.jpg" alt="Hajite" width="600" height="400">
  </a>
  <div class="desc"><b>Mr. Majit Hajite<br> Member-CDC</b></div>
</div>  
<div class="gallery">
  <a target="_blank" href="images/ec/pankaj.jpg">
    <img src="images/ec/pankaj.jpg" alt="Pankaj" width="600" height="400">
  </a>
  <div class="desc"><b>Mr. Pankaj Khamgaonkar<br> Member-CDC</b></div>
</div>  
<div class="gallery">
  <a target="_blank" href="images/ec/nilesh.jpg">
    <img src="images/ec/nilesh.jpg" alt="Nilesh" width="600" height="400">
  </a>
  <div class="desc"><b>Mr. Nilesh Mehta<br> Member-CDC</b></div>
</div>  
<div class="gallery">
  <a target="_blank" href="images/ec/ramesh.jpg">
    <img src="images/ec/ramesh.jpg" alt="Ramesh" width="600" height="400">
  </a>
  <div class="desc"><b>Mr. Ramesh Vedpathakr<br> Member-CDC</b></div>
</div>  
 

 {{>footer}}
 
</body>
</html>

 

