<!DOCTYPE html>
 
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title>D.G. Tatkare Mahavidyalay</title>
	<link rel="icon" href="images/logo2.jpg" type="image/x-icon">

	<meta name="viewport" content="width=device-width, initial-scale=1">
{{>links}}
	<style type="text/css">
		table {
			font-family: arial, sans-serif;
			border-collapse: collapse;
			float: left;
			width: 100%;
		}

		h2 {
			padding-left: 10px;
			text-align: center;
			margin-right: 10px;
		}

		h3 {
			margin: 40px;
			color:blue;
		}

		table td,
		th {
			border: 2px solid #dddddd;
			text-align: left;
			padding: 8px;
		}
	</style>
</head>
<body>
		<h1 align="center" class="subhead" style=" color:red">COURSES AVAILABLE</h1>
		<br>
		<h3 align="center" class="subhead" >JUNIOR COLLEGE </h3>
		<div class="table-responsive">
			<table class="table ">
				<tr>
					<th>Programme Level</th>
					<th colspan=1>Name of the Pogramme/Course</th>
					<th colspan=1>Duration</th>
					<th>Entry Qualification</th>
					<th>Medium of Instruction</th>
				</tr>
				<tr>
					<td rowspan=2>Junior College</td>
					<td>H.S.C. in Science</td>
					<td>2 Years</td>
					<td>S.S.C.</td>
					<td>English</td>
				</tr>
				<tr>
					<td>H.S.C. in Commerce</td>
					<td>2 Years</td>
					<td>S.S.C.</td>
					<td>English</td>
				</tr>
			</table>
		 

		<h3 align="center">BACHELOR OF ARTS (B.A.)</h3>

		<table>
			<tr>
				<th>Programme Level</th>
				<th colspan=1>Name of the Pogramme/Course</th>
				<th colspan=1>Duration</th>
				<th>Entry Qualification</th>
				<th>Medium of Instruction</th>
			</tr>
			<tr>
				<td rowspan=4>Under Graduate</td>
				<td>B.A.in Marathi</td>
				<td>3 Years</td>
				<td>H.S.C.</td>
				<td>Marathi</td>
			</tr>
			<tr>
				<td>B.A.in Hindi</td>
				<td>3 Years</td>
				<td>H.S.C.</td>
				<td>Hindi</td>
			</tr>
			<tr>
				<td>B.A.in Geography</td>
				<td>3 Years</td>
				<td>H.S.C.</td>
				<td>Marathi</td>
			</tr>
			<tr>
				<td>B.A. in History</td>
				<td>3 Years</td>
				<td>H.S.C.</td>
				<td>Marathi</td>
			</tr>
		</table>
		 
		<h3 align="center">BACHELOR OF SCIENCE (B.Sc.)</h3>

		<table>
			<tr>
				<th>Programme Level</th>
				<th colspan=1>Name of the Pogramme/Course</th>
				<th colspan=1>Duration</th>
				<th>Entry Qualification</th>
				<th>Medium of Instruction</th>
			</tr>
			<tr>
				<td rowspan=2>Under Graduate</td>
				<td>B. Sc. - Chemistry</td>
				<td>3 Years</td>
				<td>H.S.C.Science</td>
				<td>English</td>
			</tr>
			<tr>
				<td>B. Sc. - I.T.</td>
				<td>3 Years</td>
				<td>H.S.C.Science</td>
				<td>English</td>
			</tr>
		</table>
	 
		<h3 align="center">BACHELOR OF COMMERCE (B.Com.)</h3>

		<table>
			<tr>
				<th>Programme Level</th>
				<th colspan=1>Name of the Pogramme/Course</th>
				<th colspan=1>Duration</th>
				<th>Entry Qualification</th>
				<th>Medium of Instruction</th>
			</tr>
			<tr>
				<td>Under Graduate</td>
				<td>B. Com.</td>
				<td>3 Years</td>
				<td>H.S.C.</td>
				<td>English/Marathi</td>
			</tr>
		</table>
		 
		<h3 align="center">BACHELOR OF MANAGEMENT STUDIES (B.M.S.)</h3>

		<table>
			<tr>
				<th>Programme Level</th>
				<th colspan=1>Name of the Pogramme/Course</th>
				<th colspan=1>Duration</th>
				<th>Entry Qualification</th>
				<th>Medium of Instruction</th>
			</tr>
			<tr>
				<td>Under Graduate</td>
				<td>B.M.S.</td>
				<td>3 Years</td>
				<td>H.S.C.</td>
				<td>English</td>
			</tr>
		</table>
		
		<h3 align="center">MASTER IN ARTS (M.A.)</h3>

		<table>
			<tr>
				<th>Programme Level</th>
				<th colspan=1>Name of the Pogramme/Course</th>
				<th colspan=1>Duration</th>
				<th>Entry Qualification</th>
				<th>Medium of Instruction</th>
			</tr>
			<tr>
				<td rowspan=3>Post Graduate</td>
				<td>M.A.in Marathi</td>
				<td>2 Years</td>
				<td>B.A.</td>
				<td>Marathi</td>
			</tr>
			<tr>
				<td>M.A.in History</td>
				<td>2 Years</td>
				<td>B.A.</td>
				<td>Marathi/English</td>
			</tr>
			<tr>
				<td>M.A.in Hindi</td>
				<td>2 Years</td>
				<td>B.A.</td>
				<td>Hindi</td>
			</tr>
		</table>

		<h3 align="center">MASTER IN SCIENCE</h3>

		<table>
			<tr>
				<th>Programme Level</th>
				<th colspan=1>Name of the Pogramme/Course</th>
				<th colspan=1>Duration</th>
				<th>Entry Qualification</th>
				<th>Medium of Instruction</th>
			</tr>
			<tr>
				<td rowspan=2>Post Graduate</td>
				<td>M.Sc. in Chemistry</td>
				<td>2 Years</td>
				<td>B.Sc. in Chemistry</td>
				<td>English</td>
			</tr>
			<tr>
				<td>M.Sc. in I.T.</td>
				<td>2 Years</td>
				<td>B.Sc. in I.T.</td>
				<td>English</td>
			</tr>
		</table>
	</div>


	{{>footer}}
</body>

</html>