 
<html>

<head><meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>D.G. Tatkare Mahavidyalay</title>
  
<meta name="viewport" content="width=device-width, initial-scale=1">
  {{>links}}
  
</head>
<body>
  
<div class="team-w3l" id="team">
		<div class="container">
			<h3 class="w3l-title">EXECUTIVE COUNCIL OF MANGAON SHIKSHAN PRASARAK MANDAL, MANGAON</h3>
      <br>
			<div class="w3layouts_header">
				<p><i class="fa fa-graduation-cap" aria-hidden="true"></i></p>
			</div>
			<div class="team-w3l-grid">
				<div class="col-md-4 col-sm-4 col-xs-4 about-poleft t1">
					<div class="about_img"><img src="../images/t-staff/khamkar.jpg" alt="">
						<h5>Dr.B.M Khamkar sir</h5>
						<div class="about_opa">
							<p>Principal</p>
							<ul class="fb_icons2 text-center">
								<li><a class="fa fa-facebook" href="#"></a></li>
								<li><a class="fa fa-twitter" href="#"></a></li>
								<li><a class="fa fa-google" href="#"></a></li>
								<li><a class="fa fa-linkedin" href="#"></a></li>
								<li><a class="fa fa-pinterest-p" href="#"></a></li>
							</ul>
						</div>
					</div>
				</div>
				<div class="col-md-4 col-sm-4 col-xs-4 about-poleft t1">
					<div class="about_img"><img src="../images/t-staff/khamkar.jpg" alt="">
						<h5>Dr.B.M Khamkar sir</h5>
						<div class="about_opa">
							<p>Principal</p>
							<ul class="fb_icons2 text-center">
								<li><a class="fa fa-facebook" href="#"></a></li>
								<li><a class="fa fa-twitter" href="#"></a></li>
								<li><a class="fa fa-google" href="#"></a></li>
								<li><a class="fa fa-linkedin" href="#"></a></li>
								<li><a class="fa fa-pinterest-p" href="#"></a></li>
							</ul>
						</div>
					</div>
				</div>
				<div class="col-md-4 col-sm-4 col-xs-4 about-poleft t1">
					<div class="about_img"><img src="../images/t-staff/khamkar.jpg" alt="">
						<h5>Dr.B.M Khamkar</h5>
						<div class="about_opa">
							<p>Principal</p>
							<ul class="fb_icons2 text-center">
								<li><a class="fa fa-facebook" href="#"></a></li>
								<li><a class="fa fa-twitter" href="#"></a></li>
								<li><a class="fa fa-google" href="#"></a></li>
								<li><a class="fa fa-linkedin" href="#"></a></li>
								<li><a class="fa fa-pinterest-p" href="#"></a></li>
							</ul>
						</div>
					</div>
				</div>
				<div class="clearfix"></div>
			</div>
			<div class="team-w3l-grid grid-2-team">
				<div class="col-md-4 col-sm-4 col-xs-4 about-poleft t1">
					<div class="about_img"><img src="../images/t-staff/khamkar.jpg" alt="">
						<h5>Dr.B.M Khamkar</h5>
						<div class="about_opa">
							<p>Principal</p>
							<ul class="fb_icons2 text-center">
								<li><a class="fa fa-facebook" href="#"></a></li>
								<li><a class="fa fa-twitter" href="#"></a></li>
								<li><a class="fa fa-google" href="#"></a></li>
								<li><a class="fa fa-linkedin" href="#"></a></li>
								<li><a class="fa fa-pinterest-p" href="#"></a></li>
							</ul>
						</div>
					</div>
				</div>
				<div class="col-md-4 col-sm-4 col-xs-4 about-poleft t1">
					<div class="about_img"><img src="../images/t-staff/khamkar.jpg" alt="">
						<h5>Dr.B.M Khamkar</h5>
						<div class="about_opa">
							<p>Principal</p>
							<ul class="fb_icons2 text-center">
								<li><a class="fa fa-facebook" href="#"></a></li>
								<li><a class="fa fa-twitter" href="#"></a></li>
								<li><a class="fa fa-google" href="#"></a></li>
								<li><a class="fa fa-linkedin" href="#"></a></li>
								<li><a class="fa fa-pinterest-p" href="#"></a></li>
							</ul>
						</div>
					</div>
				</div>
				<div class="col-md-4 col-sm-4 col-xs-4 about-poleft t1">
					<div class="about_img"><img src="../images/t-staff/khamkar.jpg" alt="">
						<h5>Dr.B.M Khamkar</h5>
						<div class="about_opa">
							<p>Principal</p>
							<ul class="fb_icons2 text-center">
								<li><a class="fa fa-facebook" href="#"></a></li>
								<li><a class="fa fa-twitter" href="#"></a></li>
								<li><a class="fa fa-google" href="#"></a></li>
								<li><a class="fa fa-linkedin" href="#"></a></li>
								<li><a class="fa fa-pinterest-p" href="#"></a></li>
							</ul>
						</div>
					</div>
				</div>
				<div class="clearfix"></div>
			</div>
      <div class="team-w3l-grid grid-2-team">
				<div class="col-md-4 col-sm-4 col-xs-4 about-poleft t1">
					<div class="about_img"><img src="../images/t-staff/khamkar.jpg" alt="">
						<h5>Dr.B.M Khamkar</h5>
						<div class="about_opa">
							<p>Principal</p>
							<ul class="fb_icons2 text-center">
								<li><a class="fa fa-facebook" href="#"></a></li>
								<li><a class="fa fa-twitter" href="#"></a></li>
								<li><a class="fa fa-google" href="#"></a></li>
								<li><a class="fa fa-linkedin" href="#"></a></li>
								<li><a class="fa fa-pinterest-p" href="#"></a></li>
							</ul>
						</div>
					</div>
				</div>
				<div class="col-md-4 col-sm-4 col-xs-4 about-poleft t1">
					<div class="about_img"><img src="../images/t-staff/khamkar.jpg" alt="">
						<h5>Dr.B.M Khamkar</h5>
						<div class="about_opa">
							<p>Principal</p>
							<ul class="fb_icons2 text-center">
								<li><a class="fa fa-facebook" href="#"></a></li>
								<li><a class="fa fa-twitter" href="#"></a></li>
								<li><a class="fa fa-google" href="#"></a></li>
								<li><a class="fa fa-linkedin" href="#"></a></li>
								<li><a class="fa fa-pinterest-p" href="#"></a></li>
							</ul>
						</div>
					</div>
				</div>
				<div class="col-md-4 col-sm-4 col-xs-4 about-poleft t1">
					<div class="about_img"><img src="../images/t-staff/khamkar.jpg" alt="">
						<h5>Dr.B.M Khamkar</h5>
						<div class="about_opa">
							<p>Principal</p>
							<ul class="fb_icons2 text-center">
								<li><a class="fa fa-facebook" href="#"></a></li>
								<li><a class="fa fa-twitter" href="#"></a></li>
								<li><a class="fa fa-google" href="#"></a></li>
								<li><a class="fa fa-linkedin" href="#"></a></li>
								<li><a class="fa fa-pinterest-p" href="#"></a></li>
							</ul>
						</div>
					</div>
				</div>
				<div class="clearfix"></div>
			</div>
      <div class="team-w3l-grid grid-2-team">
				<div class="col-md-4 col-sm-4 col-xs-4 about-poleft t1">
					<div class="about_img"><img src="../images/t-staff/khamkar.jpg" alt="">
						<h5>Dr.B.M Khamkar</h5>
						<div class="about_opa">
							<p>Principal</p>
							<ul class="fb_icons2 text-center">
								<li><a class="fa fa-facebook" href="#"></a></li>
								<li><a class="fa fa-twitter" href="#"></a></li>
								<li><a class="fa fa-google" href="#"></a></li>
								<li><a class="fa fa-linkedin" href="#"></a></li>
								<li><a class="fa fa-pinterest-p" href="#"></a></li>
							</ul>
						</div>
					</div>
				</div>
				<div class="col-md-4 col-sm-4 col-xs-4 about-poleft t1">
					<div class="about_img"><img src="../images/t-staff/khamkar.jpg" alt="">
						<h5>Dr.B.M Khamkar</h5>
						<div class="about_opa">
							<p>Principal</p>
							<ul class="fb_icons2 text-center">
								<li><a class="fa fa-facebook" href="#"></a></li>
								<li><a class="fa fa-twitter" href="#"></a></li>
								<li><a class="fa fa-google" href="#"></a></li>
								<li><a class="fa fa-linkedin" href="#"></a></li>
								<li><a class="fa fa-pinterest-p" href="#"></a></li>
							</ul>
						</div>
					</div>
				</div>
				<div class="col-md-4 col-sm-4 col-xs-4 about-poleft t1">
					<div class="about_img"><img src="../images/t-staff/khamkar.jpg" alt="">
						<h5>Dr.B.M Khamkar</h5>
						<div class="about_opa">
							<p>Principal</p>
							<ul class="fb_icons2 text-center">
								<li><a class="fa fa-facebook" href="#"></a></li>
								<li><a class="fa fa-twitter" href="#"></a></li>
								<li><a class="fa fa-google" href="#"></a></li>
								<li><a class="fa fa-linkedin" href="#"></a></li>
								<li><a class="fa fa-pinterest-p" href="#"></a></li>
							</ul>
						</div>
					</div>
				</div>
				<div class="clearfix"></div>
			</div>
		</div>
	</div>
  








 
  <div class="main">

  
  
   
  
   <div class="gallery">
  <a target="_blank" href="images/ec/advRajiv.jpg">
    <img src="images/ec/advRajiv.jpg" alt="Presidence" width="600" height="400">
  </a>
  <div class="desc"><b>Hon. Adv. <br>Rajiv Sable<br>Presidence</b></div>
</div>

<div class="gallery">
  <a target="_blank" href="images/ec/krushna.jpg">
    <img src="images/ec/krushna.jpg" alt="Secretary" width="600" height="400">
  </a>
  <div class="desc"><b>Hon.Mr. Krushna Gandhi  Secretary</b></div>
</div>

<div class="gallery">
  <a target="_blank" href="images/ec/rajan.jpg">
    <img src="images/ec/rajan.jpg" alt="Rajan Metha" width="600" height="400">
  </a>
  <div class="desc"><b>Hon. Mr. <br>Rajan Metha<br>Member</b></div>
</div>

<div class="gallery">
  <a target="_blank" href="images/ec/Subhash.jpg">
    <img src="images/ec/Subhash.jpg" alt="Subhash" width="600" height="400">
  </a>
 <div class="desc"><b>Hon. Mr. <br> Subhash Metha<br>Member</b></div>
</div>


<div class="gallery">
  <a target="_blank" href="images/ec/anand.jpg">
    <img src="images/ec/anand.jpg" alt="Anand Yadav" width="600" height="400">
  </a>
  <div class="desc"><b>Hon.Mr. <br>Anand Yadav <br> Member</b></div>
</div>

<div class="gallery">
  <a target="_blank" href="images/ec/narendra.jpg">
    <img src="images/ec/narendra.jpg" alt="Narendra Gaiwad" width="600" height="400">
  </a>
  <div class="desc"><b>Hon. Mr. <br>Narendra Gaikwad<br>Member</b></div>
</div>

<div class="gallery">
  <a target="_blank" href="images/ec/jyoti.jpg">
    <img src="images/ec/jyoti.jpg" alt="Jyoti Butala" width="600" height="400">
  </a>
 <div class="desc"><b>Hon. Mrs. <br>Jyoti Butala<br>Member</b></div>
</div>

  </div>
  

  {{>footer}}


</div>
</body>
</html>










 

































