<html>

<head><meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>D.G. Tatkare Mahavidyalay</title>
 <link rel = "icon" href ="images/logo2.jpg" 
        type = "image/x-icon">   

<meta name="viewport" content="width=device-width, initial-scale=1">
  {{>links}}
</head>
<body  >
  <style>
		.dept-img {
			display: flex;
			justify-content: center;
			align-items: center;
			margin: 0;
			padding: 0
		}
		.dept-img img {
			height: 400px;
			width: 60%;
			padding: 20px;
		}
		.dept-info {
			width: 100%;
			display: flex;
			justify-content: center;
			align-items: center;
		}
		.dept-box {
			width: 85%;
		}
		.dept-box,
		.vision,
		.mission,
		.about-dept {
			display: flex;
			justify-content: center;
			align-items: center;
			flex-direction: column;
		}
		.dept-info h1 {
			color: white;
			width: 100%;
			margin: 40px;
			display: flex;
			justify-content: center;
			align-items: center;
			flex-direction: column;
			background-color: blue;
			padding: 2px;
			font-family: 'Niconne', cursive;
		}
		.dept-info p {
			color: black;
			color: rgb(0, 0, 0);
			padding: 0px;
			font-family: 'Niconne', cursive;
			font-size: 30px;
			line-height: 30px;
			font-weight: 5px;
		}
		#sub-dept,
		#sub-dept a {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
		}
		#sub-dept a {
			width: 86%;
			height: 40px;
			background: rgb(53, 53, 223);
			margin: 10px 10px;
			color: white;
			border-radius: 20px;
		}
		.sub {
			display: flex;
			justify-content: center;
			align-items: center;

		}
		.sub h1 {
			color: blue;
		}
		.sub .table-responsive {
			margin-left: 40px;
			/* width: 500px; */
			padding: 0;
			margin-left: 20px;
		}
		th {
			color: red;
		}
		@media screen and (max-width: 500px) {
			.dept-info h1 {
				font-size: 20px;
			}

			.sub {
				flex-direction: column;
			}

			.dept-img img {
				width: 100%;
				height: 250px;
			}

			.dept-box {
				width: 95%;
			}

			.dept-info h1 {
				margin: 10px;
			}

			.dept-info p {
				font-size: 20px;
			}
		}
	</style>
<div class="dept-info  ">
		<div class="dept-box">
			<!-- <div class="vision"> -->
			<h1>Vision</h1>
			<p>  1) To inculcate the value based education. <br>
  2) To inculcate the quality assured education. <br>
  3) To inculcate the activity oriented education <br><br></p>
			<!-- </div> -->

			<!-- <div class="mission"> -->
			<h1>Mission</h1>
			<p> 1) To create a competent role models for the society.<br>
  2) To make the student resourceful for facing the challenges of ever chsnging society.<br>
  3) To enfuse a versatility in thepersonality of the students.<br>
  4) To motivate the students to undertake responsibility connected to thechoosen field.<br>
  5) To offer intellectually stimulating environment in the campus  </p>
			<!-- </div> -->

			<!-- <div class="about-dept"> -->
			<h1>OBJECTIVES</h1>
			<p>  1) To produce candidate capable of independent life - long learning. <br>
  2) To help students in discovering their talent and expressing it. <br>
			</p>
			<!-- </div> -->
		</div>
	</div>

 
 
 
 {{>footer}}
</body>
</html>









