<!DOCTYPE html>
<html lang="en">

<head>
	<title>Arts</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="keywords" content="DGTC college mangaon , tatkare college mangaon , mangaon senior college" />
	{{>links}}
</head>

<body>

	<style>
		body {
			z-index: -1;

		}

		.shows {
			display: none;
		}

		#appnav {
			background-image: url('images/dgtc5.jpg');
			height: 100%;
			width: 70%;
			position: fixed;
			right: 0%;
			top: 60px;
			z-index: 10;
			border: 1px solid grey;
			/* opacity: 0.8; */
			background-color: black;
		}

		.hello li a {
			border-bottom: 1px solid grey;
			color: white;
			font-weight: bold;
			text-shadow: 2px 2px 15px black,
				2px 2px 6px black,
				2px 2px 7px black,
				2px 2px 8px black,
				2px 2px 9px black;
		}

		.hello li {

			color: red;
		}

		.bodybtn {
			display: none;
		}
	</style>
	<script>
		$(document).ready(function () {
			$('#appnavbtn').click(function () {
				$("#appnav").toggleClass("shows");
			});
		});

		$(document).ready(function () {
			$('.main,a,.secoundnav').click(function () {
				$("#appnav").addClass("shows");
			});
		});
	</script>
	{{>subnav}}
	<script>
		$(document).ready(function () {
			$('#appnavbtn').click(function () {
				$("#appnav").toggleClass("shows");
			});
		});
		$(document).ready(function () {
			$('.main,a,.secoundnav').click(function () {
				$("#appnav").addClass("shows");
			});
		});
	</script>

	<script src="js/jquery.nicescroll.js"></script>
	<script src="js/scripts.js"></script>
	<script src="js/jquery.js"></script>

	<!-- content of department page -->

	<style>
		.dept-img {
			display: flex;
			justify-content: center;
			align-items: center;
			margin: 0;
			padding: 0
		}

		.dept-img img {
			height: 400px;
			width: 60%;
			padding: 20px;
		}

		.dept-info {
			width: 100%;
			display: flex;
			justify-content: center;
			align-items: center;
		}

		.dept-box {
			width: 85%;
		}

		.dept-box,
		.vision,
		.mission,
		.about-dept {
			display: flex;
			justify-content: center;
			align-items: center;
			flex-direction: column;
		}

		.dept-info h1 {
			color: white;
			width: 100%;
			margin: 40px;
			display: flex;
			justify-content: center;
			align-items: center;
			flex-direction: column;
			background-color: blue;
			padding: 2px;
			font-family: 'Niconne', cursive;
		}

		.dept-info p {
			color: black;
			color: rgb(0, 0, 0);
			padding: 0px;
			font-family: 'Niconne', cursive;
			font-size: 30px;
			line-height: 30px;
			font-weight: 5px;
		}

		#sub-dept,
		#sub-dept a {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
		}

		#sub-dept a {
			width: 86%;
			height: 40px;
			background: rgb(53, 53, 223);
			margin: 10px 10px;
			color: white;
			border-radius: 20px;
		}

		.sub {
			display: flex;
			justify-content: center;
			align-items: center;

		}

		.sub h1 {
			color: blue;
		}

		.sub .table-responsive {
			margin-left: 40px;
			/* width: 500px; */
			padding: 0;
			margin-left: 20px;
		}

		th {
			color: red;
		}

		@media screen and (max-width: 500px) {
			.dept-info h1 {
				font-size: 20px;
			}

			.sub {
				flex-direction: column;
			}

			.dept-img img {
				width: 100%;
				height: 250px;
			}

			.dept-box {
				width: 95%;
			}

			.dept-info h1 {
				margin: 10px;
			}

			.dept-info p {
				font-size: 20px;
			}

		}
	</style>


	<div id="sub-dept">
		<a href="#fy" id="fyit">F.Y. Bsc IT</a>
		<a href="#sy" id="syit">S.Y. Bsc IT</a>
		<a href="#ty" id="tyit">T.Y. Bsc IT</a>
	</div>
	<div class="dept-img">
		<img src="../images/dgtc.png">
	</div>
	<div class="dept-info  ">
		<div class="dept-box">
			<!-- <div class="vision"> -->
			{{!-- <h1>Vision</h1>
			<p>To impart quality technical education to produce highly skilled technologist in the era of
				information technology and serve the society for helping the country to attain new height in
				Information Technology</p> --}}
			<!-- </div> -->

			<!-- <div class="mission"> -->
			{{!-- <h1>Mission</h1>
			<p>Implement Effective & efficient Teaching–Learning practices and provide the lifelong learning and
				leadership skills.

				Promote collaboration with industry to bridge the gap between academic and industrial
				application in emerging IT Technologies.</p> --}}
			<!-- </div> -->

			<!-- <div class="about-dept"> -->
			<h1>About Department</h1>
			<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae voluptatum tempora ipsam id! Distinctio, maxime est ipsum, molestias nesciunt eveniet quibusdam architecto voluptatibus facere, quia temporibus! Recusandae, molestiae placeat velit sint quis optio in pariatur minus, fugiat minima dolor necessitatibus incidunt laboriosam libero dolores quod nemo tempore voluptatum rerum commodi! lorun 20
				Lorem, ipsum dolor sit amet consectetur adipisicing elit. Explicabo ullam a sequi officiis nesciunt magnam doloribus minima nulla rem error, sit reiciendis doloremque ad unde cupiditate harum quidem ab iusto.
			</p>
			<!-- </div> -->
		</div>
	</div>
	<br>
	<div class="sub">
		<h1 id="fy">fist year syllabus <i class="fa fa-leanpub" aria-hidden="true" style="color:red;"></i></h1>
		<br>

		<div class="table-responsive">
			<table class="table ">
				<thead>
					<th>1st semister</th>
					<tr>
						<th>code</th>
						<th>subject name</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>UAGR101</td>
						<td>Geography-I</td>
					</tr>
					<tr>
						<td>UAHIS101</td>
						<td>History-I</td>
					</tr>
					<tr>
						<td>UAMAR1C1 OR UAHINCOM101 </td>
						<td>Marathi (Com.)-I OR Hindi(Com.)-I</td>
					</tr>
					<tr>
						<td>UAMAR101 OR UAHIN101 </td>
						<td>Marathi (Opt.)-I OR Hindi(Opt.)-I</td>
					</tr>
					<tr>
						<td>UACS101</td>
						<td>Commuition Skill-I</td>
					</tr>
					<tr>
						<td>UAFS101</td>
						<td>Foundation Skill-I</td>
					</tr>
				</tbody>
			</table>
		</div>
		<br>
		<div class="table-responsive">
			<table class="table">
				<thead>
					<th>2nd semister</th>
					<tr>
						<th>code</th>
						<th>subject name</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>UAGR201</td>
						<td>Geography-I</td>
					</tr>
					<tr>
						<td>UAHIS201</td>
						<td>History-I</td>
					</tr>
					<tr>
						<td>UAMAR2C1 OR UAHINCOM102 </td>
						<td>Marathi (Com.)-I OR Hindi(Com.)-I</td>
					</tr>
					<tr>
						<td>UAMAR201 OR UAHIN201 </td>
						<td>Marathi (Opt.)-I OR Hindi(Opt.)-I</td>
					</tr>
					<tr>
						<td>UACS201</td>
						<td>Commuition Skill-I</td>
					</tr>
					<tr>
						<td>UAFS201</td>
						<td>Foundation Skill-II</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	<hr>
	<div class="sub">
		<h1 id="sy">2nd year syllabus <i class="fa fa-leanpub" aria-hidden="true" style="color:red;"></i> </h1>
		<br>
		<div class="table-responsive">
			<table class="table ">
				<thead>
					<th>3rd semister</th>
					<tr>
						<th>code</th>
						<th>subject name</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>UAGR301</td>
						<td>Geography-II</td>
					</tr>
					<tr>
						<td>UAGR302</td>
						<td>Geography-III</td>
					</tr>
					<tr>
						<td>UAHIS301</td>
						<td>History-II</td>
					</tr>
					<tr>
						<td>UAHIS302</td>
						<td>History-III</td>
					</tr>
					<tr>
						<td>UAMAR301 OR UAHIN301 </td>
						<td>Marathi-II OR Hindi-II</td>
					</tr>
					<tr>
						<td>UAMAR302 OR UAHIN302 </td>
						<td>Marathi-III OR Hindi-III</td>
					</tr>
					<tr>
						<td>UAFS301</td>
						<td>Foundation course-III</td>
					</tr>
					<tr>
						<td>UAADV301</td>
						<td>Advertising</td>
					</tr>
				</tbody>
			</table>
		</div>
		<br>
		<div class="table-responsive">
			<table class="table">
				<thead>
					<th>4th semister</th>
					<tr>
						<th>code</th>
						<th>subject name</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>UAGR401</td>
						<td>Geography-II</td>
					</tr>
					<tr>
						<td>UAGR402</td>
						<td>Geography-III</td>
					</tr>
					<tr>
						<td>UAHIS401</td>
						<td>History-II</td>
					</tr>
					<tr>
						<td>UAHIS402</td>
						<td>History-III</td>
					</tr>
					<tr>
						<td>UAMAR401 OR UAHIN401 </td>
						<td>Marathi-II OR Hindi-II</td>
					</tr>
					<tr>
						<td>UAMAR402 OR UAHIN402 </td>
						<td>Marathi-III OR Hindi-III</td>
					</tr>
					<tr>
						<td>UAFS401</td>
						<td>Foundation course-IV</td>
					</tr>
					<tr>
						<td>UAADV401</td>
						<td>Advertising</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	<hr>
	

<div class="sub">
		<h1 id="ty">3rd year syllabus <i class="fa fa-leanpub" aria-hidden="true" style="color:red;"></i></h1>
			<br>
			<div class="table-responsive">
				<table class="table ">
					<thead>
						<th>5th semister</th>
						<tr>
							<th>code</th>
							<th>subject name</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>USIT101</td>
							<td>Imperative Programming</td>
						</tr>
						<tr>
							<td>USIT102</td>
							<td>Digital Electronics</td>
						</tr>
						<tr>
							<td>USIT103</td>
							<td>Operating System</td>
						</tr>
						<tr>
							<td>USIT104</td>
							<td>Discrete Mathematics</td>
						</tr>
						<tr>
							<td>USIT105</td>
							<td>Communition Skill</td>
						</tr>
					</tbody>
				</table>
			</div>
			<br>
			<div class="table-responsive">
				<table class="table">
					<thead>
						<th>6th semister</th>
						<tr>
							<th>code</th>
							<th>subject name</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>USIT201</td>
							<td>Object oriented Programming</td>
						</tr>
						<tr>
							<td>USIT202</td>
							<td> Microprocessor Architecture</td>
						</tr>
						<tr>
							<td>USIT203</td>
							<td> Web Programming</td>
						</tr>
						<tr>
							<td>USIT204</td>
							<td>Numerical and Statistical Methods</td>
						</tr>
						<tr>
							<td>USIT205</td>
							<td> Green Computing</td>
						</tr>
					</tbody>
				</table>
			</div>
	</div>

	<hr>
	<div class="team-w3l" id="team">
		<div class="container">
			<h3 class="w3l-title">Our Skilled Lecturers</h3>
			<div class="w3layouts_header">
				<p><i class="fa fa-graduation-cap" aria-hidden="true"></i></p>
			</div>
			<div class="team-w3l-grid">
				<div class="col-md-4 col-sm-4 col-xs-4 about-poleft t1">
					<div class="about_img"><img src="../images/t-staff/khamkar.jpg" alt="">
						<h5>Dr.B.M Khamkar sir</h5>
						<div class="about_opa">
							<p>Principal</p>
							<ul class="fb_icons2 text-center">
								<li><a class="fa fa-facebook" href="#"></a></li>
								<li><a class="fa fa-twitter" href="#"></a></li>
								<li><a class="fa fa-google" href="#"></a></li>
								<li><a class="fa fa-linkedin" href="#"></a></li>
								<li><a class="fa fa-pinterest-p" href="#"></a></li>
							</ul>
						</div>
					</div>
				</div>
				<div class="col-md-4 col-sm-4 col-xs-4 about-poleft t1">
					<div class="about_img"><img src="../images/t-staff/khamkar.jpg" alt="">
						<h5>Dr.B.M Khamkar sir</h5>
						<div class="about_opa">
							<p>Principal</p>
							<ul class="fb_icons2 text-center">
								<li><a class="fa fa-facebook" href="#"></a></li>
								<li><a class="fa fa-twitter" href="#"></a></li>
								<li><a class="fa fa-google" href="#"></a></li>
								<li><a class="fa fa-linkedin" href="#"></a></li>
								<li><a class="fa fa-pinterest-p" href="#"></a></li>
							</ul>
						</div>
					</div>
				</div>
				<div class="col-md-4 col-sm-4 col-xs-4 about-poleft t1">
					<div class="about_img"><img src="../images/t-staff/khamkar.jpg" alt="">
						<h5>Dr.B.M Khamkar</h5>
						<div class="about_opa">
							<p>Principal</p>
							<ul class="fb_icons2 text-center">
								<li><a class="fa fa-facebook" href="#"></a></li>
								<li><a class="fa fa-twitter" href="#"></a></li>
								<li><a class="fa fa-google" href="#"></a></li>
								<li><a class="fa fa-linkedin" href="#"></a></li>
								<li><a class="fa fa-pinterest-p" href="#"></a></li>
							</ul>
						</div>
					</div>
				</div>
				<div class="clearfix"></div>
			</div>
			<div class="team-w3l-grid grid-2-team">
				<div class="col-md-4 col-sm-4 col-xs-4 about-poleft t1">
					<div class="about_img"><img src="../images/t-staff/khamkar.jpg" alt="">
						<h5>Dr.B.M Khamkar</h5>
						<div class="about_opa">
							<p>Principal</p>
							<ul class="fb_icons2 text-center">
								<li><a class="fa fa-facebook" href="#"></a></li>
								<li><a class="fa fa-twitter" href="#"></a></li>
								<li><a class="fa fa-google" href="#"></a></li>
								<li><a class="fa fa-linkedin" href="#"></a></li>
								<li><a class="fa fa-pinterest-p" href="#"></a></li>
							</ul>
						</div>
					</div>
				</div>
				<div class="col-md-4 col-sm-4 col-xs-4 about-poleft t1">
					<div class="about_img"><img src="../images/t-staff/khamkar.jpg" alt="">
						<h5>Dr.B.M Khamkar</h5>
						<div class="about_opa">
							<p>Principal</p>
							<ul class="fb_icons2 text-center">
								<li><a class="fa fa-facebook" href="#"></a></li>
								<li><a class="fa fa-twitter" href="#"></a></li>
								<li><a class="fa fa-google" href="#"></a></li>
								<li><a class="fa fa-linkedin" href="#"></a></li>
								<li><a class="fa fa-pinterest-p" href="#"></a></li>
							</ul>
						</div>
					</div>
				</div>
				<div class="col-md-4 col-sm-4 col-xs-4 about-poleft t1">
					<div class="about_img"><img src="../images/t-staff/khamkar.jpg" alt="">
						<h5>Dr.B.M Khamkar</h5>
						<div class="about_opa">
							<p>Principal</p>
							<ul class="fb_icons2 text-center">
								<li><a class="fa fa-facebook" href="#"></a></li>
								<li><a class="fa fa-twitter" href="#"></a></li>
								<li><a class="fa fa-google" href="#"></a></li>
								<li><a class="fa fa-linkedin" href="#"></a></li>
								<li><a class="fa fa-pinterest-p" href="#"></a></li>
							</ul>
						</div>
					</div>
				</div>
				<div class="clearfix"></div>
			</div>
		</div>
	</div>
	{{>footer}}
</body>

</html>