<!DOCTYPE html>
<html lang="en">

<head>
	<title>Bsc IT</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="keywords" content="DGTC college mangaon , tatkare college mangaon , mangaon senior college" />
	{{>links}}
</head>

<body>
	{{>navbar}}
	<style>
		body {
			z-index: -1;
		}

		.shows {
			display: none;
		}

		#appnav {
			background-image: url('images/clg-front-view/dgtc3.png');
			height: 100%;
			width: 70%;
			position: fixed;
			right: 0%;
			top: 60px;
			z-index: 10;
			border: 1px solid grey;
			background-color: black;
		}

		.hello li a {
			border-bottom: 1px solid grey;
			color: white;
			font-weight: bold;
			text-shadow: 2px 2px 15px black,
				2px 2px 6px black,
				2px 2px 7px black,
				2px 2px 8px black,
				2px 2px 9px black;
		}

		.hello li {

			color: red;
		}

		.bodybtn {
			display: none;
		}
	</style>
	<script>
		$(document).ready(function () {
			$('#appnavbtn').click(function () {
				$("#appnav").toggleClass("shows");
			});
		});

		$(document).ready(function () {
			$('.main,a,.secoundnav').click(function () {
				$("#appnav").addClass("shows");
			});
		});
	</script>
	{{>subnav}}
	<script>
		$(document).ready(function () {
			$('#appnavbtn').click(function () {
				$("#appnav").toggleClass("shows");
			});
		});
		$(document).ready(function () {
			$('.main,a,.secoundnav').click(function () {
				$("#appnav").addClass("shows");
			});
		});
	</script>

	<script src="js/jquery.nicescroll.js"></script>
	<script src="js/scripts.js"></script>
	<script src="js/jquery.js"></script>

	<!-- content of department page -->

	<style>
		.dept-img {
			display: flex;
			justify-content: center;
			align-items: center;
			margin: 0;
			padding: 0
		}

		.dept-img img {
			height: 400px;
			width: 60%;
			padding: 20px;
		}

		.dept-info {
			width: 100%;
			display: flex;
			justify-content: center;
			align-items: center;
		}

		.dept-box {
			width: 85%;
		}

		.dept-box,
		.vision,
		.mission,
		.about-dept {
			display: flex;
			justify-content: center;
			align-items: center;
			flex-direction: column;
		}

		.dept-info h1 {
			color: white;
			width: 100%;
			margin: 40px;
			display: flex;
			justify-content: center;
			align-items: center;
			flex-direction: column;
			background-color: blue;
			padding: 2px;
			font-family: 'Niconne', cursive;
		}

		.dept-info p {
			color: black;
			color: rgb(0, 0, 0);
			padding: 0px;
			font-family: 'Niconne', cursive;
			font-size: 30px;
			line-height: 30px;
			font-weight: 5px;
		}

		#sub-dept,
		#sub-dept a {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
		}

		#sub-dept a {
			width: 86%;
			height: 40px;
			background: rgb(53, 53, 223);
			margin: 10px 10px;
			color: white;
			border-radius: 20px;
		}

		.sub {
			display: flex;
			justify-content: center;
			align-items: center;

		}

		.sub h1 {
			color: blue;
		}

		.sub .table-responsive {
			margin-left: 40px;
			/* width: 500px; */
			padding: 0;
			margin-left: 20px;
		}

		th {
			color: red;
		}

		@media screen and (max-width: 500px) {
			.dept-info h1 {
				font-size: 20px;
			}

			.sub {
				flex-direction: column;
			}

			.dept-img img {
				width: 100%;
				height: 250px;
			}

			.dept-box {
				width: 95%;
			}

			.dept-info h1 {
				margin: 10px;
			}

			.dept-info p {
				font-size: 20px;
			}

		}
	</style>


	<div id="sub-dept">
		<a href="#fy" id="fyit">F.Y. Bsc IT</a>
		<a href="#sy" id="syit">S.Y. Bsc IT</a>
		<a href="#ty" id="tyit">T.Y. Bsc IT</a>
	</div>
	<div class="dept-img">
		<img src="../images/clg-front-view/dgtc3.png">
	</div>
	<div class="dept-info  ">
		<div class="dept-box">
			<!-- <div class="vision"> -->
			<h1>Vision</h1>
			<p>To impart quality technical education to produce highly skilled technologist in the era of
				information technology and serve the society for helping the country to attain new height in
				Information Technology</p>
			<!-- </div> -->

			<!-- <div class="mission"> -->
			<h1>Mission</h1>
			<p>Implement Effective & efficient Teaching–Learning practices and provide the lifelong learning and
				leadership skills.

				Promote collaboration with industry to bridge the gap between academic and industrial
				application in emerging IT Technologies.</p>
			<!-- </div> -->

			<!-- <div class="about-dept"> -->
			<h1>About Department</h1>
			<p>The Department of Information Technology has been established in the Year 2008.Currently the intake
				capacity is 60. Basic aim of the department is to provide the lifelong learning and leadership
				skills to student that enables them to grow in their professions to achieve better positions in
				the IT industry. This course introduces students to the steps necessary to analyse a problem in
				information technology and identify and define the computing requirements appropriate to its
				solution, with a focus on how to design, implement and evaluate a computer-based system,
				process, component or program to meet desired needs. Department has well equipped labs with
				latest software’s required for curriculum development. Department also conducts various
				activities for student & staff to develop & enhance their personal as well as technical skills.
			</p>
			<!-- </div> -->
		</div>
	</div>
	<br>
	<div class="sub">
		<h1 id="fy">fist year syllabus <i class="fa fa-leanpub" aria-hidden="true" style="color:red;"></i></h1>
		<br>
		<div class="table-responsive">
			<table class="table ">
				<thead>
					<th>1st Semester</th>
					<tr>
						<th>COURSE CODE</th>
						<th>COURSE TITLE</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>UBCOMFSI.1</td>
						<td>Accountancy and Financial <br>Management. Paper-I</td>
					</tr>
					<tr>
						<td>UBCOMFSI.2</td>
						<td>Commerce I</td>
					</tr>
					<tr>
						<td>UBCOMFSI.3</td>
						<td>Business Economics - I</td>
					</tr>
					<tr>
						<td>UBCOMFSI.4</td>
						<td>Business Communication-I</td>
					</tr>
					<tr>
						<td>UBCOMFSI.5</td>
						<td>Environmental Studies-I</td>
					</tr>
					<tr>
						<td>UBCOMFSI.6</td>
						<td>Mathematics and Statistical Techniques-I</td>
					</tr>
					<tr>
						<td>UBCOMFSI.7</td>
						<td>Foundation Course - I</td>
					</tr>
				</tbody>
			</table>
		</div>
		<br>
		<div class="table-responsive">
			<table class="table">
				<thead>
					<th>2nd Semester</th>
					<tr>
						<th>COURSE CODE</th>
						<th>COURSE TITLE</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>UBCOMFSII.1</td>
						<td>Accountancy and Financial <br>Management. Paper-II</td>
					</tr>
					<tr>
						<td>UBCOMFSII.2</td>
						<td>Commerce II</td>
					</tr>
					<tr>
						<td>UBCOMFSII.3</td>
						<td>Business Economics - II</td>
					</tr>
					<tr>
						<td>UBCOMFSII.4</td>
						<td>Business Communication-II</td>
					</tr>
					<tr>
						<td>UBCOMFSII.5</td>
						<td>Environmental Studies-II</td>
					</tr>
					<tr>
						<td>UBCOMFSII.6</td>
						<td>Mathematics and Statistical Techniques-II</td>
					</tr>
					<tr>
						<td>UBCOMFSII.7</td>
						<td>Foundation Course - II</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
		<hr>
		<div class="sub">
			<h1 id="sy">2nd year syllabus <i class="fa fa-leanpub" aria-hidden="true" style="color:red;"></i>
			</h1>
			<br>
			<div class="table-responsive">
				<table class="table ">
					<thead>
						<th>3rd Semester</th>
						<tr>
							<th>COURSE CODE</th>
							<th>COURSE TITLE</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>UBCOMFSSIII.1</td>
							<td>Accountancy and Financial Management III</td>
						</tr>
						<tr>
							<td>UBCOMFSSIII.2</td>
							<td>Commerce III</td>
						</tr>
						<tr>
							<td>UBCOMFSSIII.3</td>
							<td>Business Economics - III</td>
						</tr>
						<tr>
							<td>UBCOMFSSIII.4</td>
							<td>Business Law I</td>
						</tr>
						<tr>
							<td>UBCOMSSIII.5</td>
							<td>Advertising I</td>
						</tr>
						<tr>
							<td>UBCOMFSSIII.6</td>
							<td>Foundation Course - III</td>
						</tr>
						<tr>
							<td></td>
							<td>Financial Accounting &amp; Management III</td>
						</tr>
					</tbody>
				</table>
			</div>
		<br>
		<div class="table-responsive">
			<table class="table">
				<thead>
					<th>4th Semester</th>
					<tr>
						<th>COURSE CODE</th>
						<th>COURSE TITLE</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>UBCOMSSIV.1</td>
						<td>Accountancy and Financial Management IV</td>
					</tr>
					<tr>
						<td>UBCOMSSIV.2</td>
						<td>Commerce IV</td>
					</tr>
					<tr>
						<td>UBCOMSSIV.3</td>
						<td>Business Economics - IV</td>
					</tr>
					<tr>
						<td>UBCOMSSIV.4</td>
						<td>Business Law II</td>
					</tr>
					<tr>
						<td>UBCOMSSIV.5</td>
						<td>Advertising II</td>
					</tr>
					<tr>
						<td>UBCOMSSIV.6</td>
						<td>Foundation Course - IV </td>
					</tr>
					<tr>
						<td></td>
						<td>Financial Accounting &amp; Auditing IV </td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>

	<hr>
	<div class="sub">
		<h1 id="ty">3rd year syllabus <i class="fa fa-leanpub" aria-hidden="true" style="color:red;"></i></h1>
		<br>
		<div class="table-responsive">
			<table class="table ">
				<thead>
					<th>5th Semester</th>
					<tr>
						<th>COURSE CODE</th>
						<th>COURSE TITLE</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>UBCOMTSV.1</td>
						<td>Fin. Accounting &amp; Auditing VII<br>Financial Accounting</td>
					</tr>
					<tr>
						<td>UBCOMTSV.2</td>
						<td>Fin. Accounting &amp; Auditing VII<br>Costing Accounting</td>
					</tr>
					<tr>
						<td>UBCOMTSV.3</td>
						<td>Commerce V</td>
					</tr>
					<tr>
						<td>UBCOMTSV.4</td>
						<td>Business Economics V</td>
					</tr>
					<tr>
						<td>UBCOMTSV.5</td>
						<td>Marketing Research-I</td>
					</tr>
					<tr>
						<td>UBCOMTSV.6</td>
						<td>Direct and indirect taxes I</td>
					</tr>
				</tbody>
			</table>
		</div>
		<br>
		<div class="table-responsive">
			<table class="table ">
				<thead>
					<th>6th Semester</th>
					<tr>
						<th>COURSE CODE</th>
						<th>COURSE TITLE</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>UBCOMTSVI.1</td>
						<td>Fin. Accounting &amp; Auditing IX<br>Financial Accounting</td>
					</tr>
					<tr>
						<td>UBCOMTSVI.2</td>
						<td>Fin. Accounting &amp; Auditing X<br>Costing Accounting</td>
					</tr>
					<tr>
						<td>UBCOMTSVI.3</td>
						<td>Commerce VI</td>
					</tr>
					<tr>
						<td>UBCOMTSVI.4</td>
						<td>Business Economics VI</td>
					</tr>
					<tr>
						<td>UBCOMTSVI.5</td>
						<td>Marketing Research-II</td>
					</tr>
					<tr>
						<td>UBCOMTSVI.6</td>
						<td>Direct and indirect taxes II</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	<hr>
	<div class="team-w3l" id="team">
		<div class="container">
			<h3 class="w3l-title">Our Skilled Lecturers</h3>
			<div class="w3layouts_header">
				<p><i class="fa fa-graduation-cap" aria-hidden="true"></i></p>
			</div>
			<div class="team-w3l-grid">
				<div class="col-md-4 col-sm-4 col-xs-4 about-poleft t1">
					<div class="about_img"><img src="../images/t-staff/khamkar.jpg" alt="">
						<h5>Dr.B.M Khamkar sir</h5>
						<div class="about_opa">
							<p>Principal</p>
							<ul class="fb_icons2 text-center">
								<li><a class="fa fa-facebook" href="#"></a></li>
								<li><a class="fa fa-twitter" href="#"></a></li>
								<li><a class="fa fa-google" href="#"></a></li>
								<li><a class="fa fa-linkedin" href="#"></a></li>
								<li><a class="fa fa-pinterest-p" href="#"></a></li>
							</ul>
						</div>
					</div>
				</div>
				<div class="col-md-4 col-sm-4 col-xs-4 about-poleft t1">
					<div class="about_img"><img src="../images/t-staff/khamkar.jpg" alt="">
						<h5>Dr.B.M Khamkar sir</h5>
						<div class="about_opa">
							<p>Principal</p>
							<ul class="fb_icons2 text-center">
								<li><a class="fa fa-facebook" href="#"></a></li>
								<li><a class="fa fa-twitter" href="#"></a></li>
								<li><a class="fa fa-google" href="#"></a></li>
								<li><a class="fa fa-linkedin" href="#"></a></li>
								<li><a class="fa fa-pinterest-p" href="#"></a></li>
							</ul>
						</div>
					</div>
				</div>
				<div class="col-md-4 col-sm-4 col-xs-4 about-poleft t1">
					<div class="about_img"><img src="../images/t-staff/khamkar.jpg" alt="">
						<h5>Dr.B.M Khamkar</h5>
						<div class="about_opa">
							<p>Principal</p>
							<ul class="fb_icons2 text-center">
								<li><a class="fa fa-facebook" href="#"></a></li>
								<li><a class="fa fa-twitter" href="#"></a></li>
								<li><a class="fa fa-google" href="#"></a></li>
								<li><a class="fa fa-linkedin" href="#"></a></li>
								<li><a class="fa fa-pinterest-p" href="#"></a></li>
							</ul>
						</div>
					</div>
				</div>
				<div class="clearfix"></div>
			</div>
			<div class="team-w3l-grid grid-2-team">
				<div class="col-md-4 col-sm-4 col-xs-4 about-poleft t1">
					<div class="about_img"><img src="../images/t-staff/khamkar.jpg" alt="">
						<h5>Dr.B.M Khamkar</h5>
						<div class="about_opa">
							<p>Principal</p>
							<ul class="fb_icons2 text-center">
								<li><a class="fa fa-facebook" href="#"></a></li>
								<li><a class="fa fa-twitter" href="#"></a></li>
								<li><a class="fa fa-google" href="#"></a></li>
								<li><a class="fa fa-linkedin" href="#"></a></li>
								<li><a class="fa fa-pinterest-p" href="#"></a></li>
							</ul>
						</div>
					</div>
				</div>
				<div class="col-md-4 col-sm-4 col-xs-4 about-poleft t1">
					<div class="about_img"><img src="../images/t-staff/khamkar.jpg" alt="">
						<h5>Dr.B.M Khamkar</h5>
						<div class="about_opa">
							<p>Principal</p>
							<ul class="fb_icons2 text-center">
								<li><a class="fa fa-facebook" href="#"></a></li>
								<li><a class="fa fa-twitter" href="#"></a></li>
								<li><a class="fa fa-google" href="#"></a></li>
								<li><a class="fa fa-linkedin" href="#"></a></li>
								<li><a class="fa fa-pinterest-p" href="#"></a></li>
							</ul>
						</div>
					</div>
				</div>
				<div class="col-md-4 col-sm-4 col-xs-4 about-poleft t1">
					<div class="about_img"><img src="../images/t-staff/khamkar.jpg" alt="">
						<h5>Dr.B.M Khamkar</h5>
						<div class="about_opa">
							<p>Principal</p>
							<ul class="fb_icons2 text-center">
								<li><a class="fa fa-facebook" href="#"></a></li>
								<li><a class="fa fa-twitter" href="#"></a></li>
								<li><a class="fa fa-google" href="#"></a></li>
								<li><a class="fa fa-linkedin" href="#"></a></li>
								<li><a class="fa fa-pinterest-p" href="#"></a></li>
							</ul>
						</div>
					</div>
				</div>
				<div class="clearfix"></div>
			</div>
		</div>
	</div>
	{{>footer}}
</body>

</html>