<!DOCTYPE html>
<html lang="en">

<head>
	<title> हिंदी विभाग</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="keywords" content="DGTC college mangaon , tatkare college mangaon , mangaon senior college" />
	{{>links}}
</head>

<body>
	<style>
		body {
			z-index: -1;
			font-size: 10px;
		}

		.shows {
			display: none;
		}

		#appnav {
			background-image: url('images/dgtc5.jpg');
			height: 100%;
			width: 70%;
			position: fixed;
			right: 0%;
			top: 60px;
			z-index: 10;
			border: 1px solid grey;
			/* opacity: 0.8; */
			background-color: black;
		}

		.hello li a {
			border-bottom: 1px solid grey;
			color: white;
			font-weight: bold;
			text-shadow: 2px 2px 15px black,
				2px 2px 6px black,
				2px 2px 7px black,
				2px 2px 8px black,
				2px 2px 9px black;
		}

		.hello li {

			color: red;
		}

		.bodybtn {
			display: none;
		}
	</style>
	<script>
		$(document).ready(function () {
			$('#appnavbtn').click(function () {
				$("#appnav").toggleClass("shows");
			});
		});

		$(document).ready(function () {
			$('.main,a,.secoundnav').click(function () {
				$("#appnav").addClass("shows");
			});
		});
	</script>
	{{>subnav}}
	<script>
		$(document).ready(function () {
			$('#appnavbtn').click(function () {
				$("#appnav").toggleClass("shows");
			});
		});
		$(document).ready(function () {
			$('.main,a,.secoundnav').click(function () {
				$("#appnav").addClass("shows");
			});
		});
	</script>

	<script src="js/jquery.nicescroll.js"></script>
	<script src="js/scripts.js"></script>
	<script src="js/jquery.js"></script>

	<!-- content of department page -->

	<style>
		.dept-info {
			display: flex;
			margin: 0;
			padding: 0;
			width: 100%;
			height: auto;
			align-items: center;
		}

		.about_img {
			height: 40rem;

				{
					{
					 !-- width: 30%;
					--
				}
			}
		}

		.about_img img {
			width: 100%;
			height: 80%;
		}

		.about_img img+h5 {
			margin-top: 0;
			margin-bottom: 0;
			background-color: rgb(146, 132, 132);
		}

		.hod {
			padding-left: 20px;
			font-size: 1.5rem;
			display: flex;
			align-items: center;
			
		}
		}






		@media screen and (max-width: 500px) {}
	</style>

	<br>
	<h1 align="center" ><b>हिंदी विभाग</b> </h1>
	<br>


	<div class="container-fluid">
		<div class="row">
			<div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-xs-12  p-5 ">

				<div class=" about_img"><img src="../documents/hindi/pandey.jpg" alt="">
					<h5>पाण्डेय जे.आर. - सहयोगी प्राध्यापक </h5>
					<div class="about_opa">
						<p>HOD Of HINDI DEPARTMENT</p>
					</div>
				</div>

			</div>

			<div class="col-xl-9 col-lg-9 col-md-4 col-sm-6 col-xs-12  p-5 ">

				<div class="col-10 hod" style="margin-top:15px; ">
					<p><b>
						महाविद्यालय की स्थापना दिवस ( १४ जुलाई १९९३) से ही हिन्दी विषय स्नातक के छात्रों के लिए उपलब्ध
						है| सन्
						२०१०-११ से परास्नातक छात्रों के लिए भी हिन्दी विषय तात्कालीन प्राचार्य डॉ. संतोष एल. मोटवानी के
						प्रयासों
						से उपलब्ध हो गया था । आज महाविध्यालय मे स्नातक तथा परास्नातक छात्रों के लिए हिन्दी विषय सहज
						उपलब्ध है।</b>
						<br><br> <b>

						इस विभाग के प्रमुख के रूप मे प्रा. पाण्डेय जे. आर. २००४ से ही शिक्षण प्रदान कर रहे है। <br><br>

						प्रा. पाण्डेय जे. आर. (M.A , SET ) अनुभव = १७ वर्ष है ।
						अब तक इन्होंने निम्नलिखित कार्यक्रमों मे सक्रिय सहभाग लिया है।<br> <br>
						वर्कशॉप - २०<br>
						अतिथि व्याख्यान - १०<br>
						आंतरराष्ट्रीय सेमीनार - १०<br>
						राष्ट्रीय सेमीनार - १०<br>
						रिसर्च पेपर प्रकाशित - २४<br>
						लघु शोध प्रबंध - ०२<br>
						राज्यस्तरीय कार्यक्रम - ०१<br> </b>
					</p>
				</div>
			</div>
		</div>
	</div>

									{{!-- syllybus start  --}}

	<div class="container" style="font-size: 1.5rem;">
		<div class="row">
			<div class="col-4" style="height: 100%; min-width:90%!important">

				<div class="list-group" id="list-tab" role="tablist" style="height: 100%; width:100%">
					<h1 style="margin-top:15px; " class="text-center"> Hindi
						Syllabus </h1>
					<br>

					<a class="list-group-item list-group-item-action active .listclass" id="list-home-list"
						data-toggle="list" href="../documents/hindi/fyba.pdf" role="tab" aria-controls="home">F.Y.B.A
						Syllabus </a>

					<a class="list-group-item  list-group-item-action" id="list-profile-list" data-toggle="list"
						href="../documents/hindi/syba.pdf" role="tab" aria-controls="profile">S.Y.B.A Syllabus </a>

					<a class="list-group-item active list-group-item-action" id="list-messages-list" data-toggle="list"
						href="../documents/hindi/tyba.pdf" role="tab" aria-controls="messages"> T.Y.B.A Syllabus</a>

					<a class="list-group-item list-group-item-action" id="list-settings-list" data-toggle="list"
						href="../documents/hindi/ma1.pdf" role="tab" aria-controls="settings">M.A. 1st Syllabus</a>

					<a class="list-group-item list-group-item-action active .listclass" id="list-home-list"
						data-toggle="list" href="../documents/hindi/ma2.pdf" role="tab" aria-controls="home">M.A. 2nd
						Syllabus</a>
				</div>
			</div>
		</div>
	</div> 
					{{!-- syllybus end  --}}

 					{{!-- result and achievement start --}}
<br>
<div class="container" style="font-size:2rem; display:flex; justify-content: center;">
	<a href="">Results and Achievement </a>
</div>
<br>
					{{!-- result and achievement end --}}

	<br>

	<div class="secoundnav" style="display:visible; padding:15px; font-size:1.5rem;	background-color: #c3d6ffa6;">
		<style>
			.event-heading , h1 {
				color: white;
				text-shadow: 0px 0px 1px blue, 3px 3px 2px blue;
			}

			.events {
				box-shadow: 0px 0px 7px white, 0px 0px 7px white,
					0px 0px 7px white, 0px 0px 7px white,
					0px 0px 7px white, 0px 0px 7px white,
					0px 0px 7px white, 0px 0px 7px white;
				padding: 15px;
				margin-bottom: 60px;
			}

			.events h3 {
				text-shadow: 0px 0px 5px blue, 0px 0px 10px blue;
				color: #ffffff;
				font-family: 'Niconne', cursive;
				font-size: 30px;
			}

			.events h3 span {
				font-family: 'Parisienne', cursive;
			}

			.events-details {
				color: black;
			}

			.events-img {
				height: 100%;
				width: 100%;
			}

			.events-img a img,
			.events-img a video {
				height: 100%;
				width: 100%;
				box-shadow: 0px 0px 5px blue;
				margin-bottom: 10px;
			}
		</style>

		<h1 class="event-heading" align="center"><a>Events Of 2020-21</a> </h1> <br>

		<br>

		<div class="events" > 
			<h3 class="events-title" align="center"> <span>Educational tour </span>- 07-03-2020 </h3> <br>
			<p class="events-details">Organize educational tour at murud-janjira for TY BA students on 07-03-2020 </p>
			<br>
			<div class="row md-2 events-img">

				<a class="col-sm-12 col-lg-6" href="../documents/hindi/hindi-events/trip.jpg"><img src="../documents/hindi/hindi-events/trip.jpg"></a>

				<a class="col-sm-12 col-lg-6" href="../documents/hindi/hindi-events/trip2.jpg"><img src="../documents/hindi/hindi-events/trip2.jpg"></a>
			</div>
		</div>  


		<div class="events"  > 
			<h3 class="events-title" align="center"> <span> Hindi translation and employment</span> 22-08-2019</h3> <br>
			<p class="events-details">Organize guest lecture on ‘Hindi translation and employment’ for FY,SY,TY  BA students chief guest is Prof. Bamane D. K.  , Bhausaheb Nene College Pen on 22-08-2019</p>
			<br>
			<div class="row md-2 events-img">

			<a class="col-sm-12 col-lg-6" href="../documents/hindi/hindi-events/22-08-2019.jpg"><img src="../documents/hindi/hindi-events/22-08-2019.jpg"></a>

				<a class="col-sm-12 col-lg-6" href="../documents/hindi/hindi-events/22-08-2019.jpg"><img src="../documents/hindi/hindi-events/22-08-2019-1.jpg"></a>

			</div>
		</div>


		<div class="events"  >  
			<h3 class="events-title" align="center"> <span>guest lecture</span> 25-06-2019 </h3> <br>
			<p class="events-details">Organize guest lecture for TY BA student chief guest is Dr. Narayan Bagul , V.N College murud-janjira on 25-06-2019</p>
			<br>
			<div class="row md-2 events-img">

				<a class="col-sm-12 col-lg-6" href="../documents/hindi/hindi-events/25-06-2019.jpg"><img
						src="../documents/hindi/hindi-events/25-06-2019.jpg"></a>

				<a class="col-sm-12 col-lg-6" href="../documents/hindi/hindi-events/25-06-2019.jpg"><img src="../documents/hindi/hindi-events/25-06-2019-1.jpg"></a>
			</div>
		</div>

		<div class="events"  > {{!-- library event 2019 --}}
			<h3 class="events-title" align="center"> <span> guest lecture</span> 22-02-2019</h3> <br>
			<p class="events-details">Organize guest lecture for SY BA student chief guest is Prof. Amalpure Suryakant , Dr. Nanasaheb dharmadhikari College Kolad , Raigad on 22-02-2019</p>
			<br>
			<div class="row md-2 events-img">

				<a class="col-sm-12 col-lg-6" href="../documents/hindi/hindi-events/ .jpg"><img src="../documents/hindi/hindi-events/22-02-2019.jpg"></a>

				<a class="col-sm-12 col-lg-6" href="../documents/hindi/hindi-events/22-02-2019-1.jpg"><img src="../documents/hindi/hindi-events/22-02-2019-1.jpg"></a>

			</div>
		</div>

		<div class="events"  > {{!-- library event 2019 --}}
			<h3 class="events-title" align="center"> <span> guest lecture</span> 23-03-2018</h3> <br>
			<p class="events-details">Organize guest lecture for TY  BA student chief guest is Dr. Anil Singh S.B. College Sahapur, Thane on 23-03-2018</p>
			<br>
			<div class="row md-2 events-img">

				<a class="col-sm-12 col-lg-6" href="../documents/hindi/hindi-events/23-03-2018.jpg"><img src="../documents/hindi/hindi-events/23-03-2018.jpg"> 

				<a class="col-sm-12 col-lg-6" href="../documents/hindi/hindi-events/23-03-2018.jpg"><img src="../documents/hindi/hindi-events/23-03-2018-1.jpg"></a>

			</div>
		</div>


		<div class="events"  > {{!-- library event 2019 --}}
			<h3 class="events-title" align="center"> <span> guest lecture</span>    23-03-20-18   </h3> <br>
			<p class="events-details">   Organize guest lecture for FY BA student chief guest is Dr. Pradip Singh , Sathye College vile parle, Mumbai on 23-03-2018  </p>
			<br>
			<div class="row md-2 events-img">

					<a class="col-sm-12 col-lg-6" href="../documents/hindi/hindi-events/25-06-2019.jpg"><img src="../documents/hindi/hindi-events/23-03-2018-3.jpg"> 

				<a class="col-sm-12 col-lg-6" href="../documents/hindi/hindi-events/23-03-2018.jpg"><img src="../documents/hindi/hindi-events/23-03-2018-4.jpg"></a>

			</div>
		</div>
		 
		<div class="events"  > {{!-- library event 2019 --}}
			<h3 class="events-title" align="center"> <span> Guest lecture</span>     21-09-2016  </h3> <br>
			<p class="events-details">  Organize guest lecture for TY  B.A students chief guest is Dr. Narayan Bagul V. N . College murud-janjira , Raigad on 21-09-2016   </p>
			<br>
			<div class="row md-2 events-img">

				<a class="col-sm-12 col-lg-6" href="../documents/hindi/hindi-events/25-06-2019.jpg"><img src="../documents/hindi/hindi-events/21-09-2016.jpg"> 

				<a class="col-sm-12 col-lg-6" href="../documents/hindi/hindi-events/23-03-2018.jpg"><img src="../documents/hindi/hindi-events/21-09-2016-1.jpg"></a>
				
			</div>
		</div>

		<div class="events"  > {{!-- library event 2019 --}}
			<h3 class="events-title" align="center"> <span>  guest lecture</span>   29-02-2016    </h3> <br>
			<p class="events-details">  Organize guest lecture for FY BA student chief guest is Dr. Santosh L. Motwani , R. K. T. College Ulhasnagar thane on 29-02-2016   </p>
			<br>
			<div class="row md-2 events-img">

				<a class="col-sm-12 col-lg-6" href="../documents/hindi/hindi-events/25-06-2019.jpg"><img src="../documents/hindi/hindi-events/29-02-2016.jpg"> 

				<a class="col-sm-12 col-lg-6" href="../documents/hindi/hindi-events/23-03-2018.jpg"><img src="../documents/hindi/hindi-events/29-02-2016-1.jpg"></a>
				
			</div>
		</div>

		<div class="events"  > {{!-- library event 2019 --}}
			<h3 class="events-title" align="center"> <span> guest lecture</span>  26-09-2015  </h3> <br>
			<p class="events-details">   Organize guest lecture for SY BA student chief guest is Prof. Balasaheb Gunjal N. K Waradkar college Dapoli Ratnagiri  on 26-09-2015   </p>
			<br>
			<div class="row md-2 events-img">

				<a class="col-sm-12 col-lg-6" href="../documents/hindi/hindi-events/26-09-2015.jpg"><img src="../documents/hindi/hindi-events/26-09-2015.jpg"> 

				<a class="col-sm-12 col-lg-6" href="../documents/hindi/hindi-events/26-09-2015-1.jpg"><img src="../documents/hindi/hindi-events/26-09-2015-1.jpg"></a>
				
			</div>
		</div>

		<div class="events"  > {{!-- library event 2019 --}}
			<h3 class="events-title" align="center"> <span> guest lecture</span>  02-09-2015  </h3> <br>
			<p class="events-details"> Organize guest lecture for TY  B.A students chief guest is Prof. Bamane D. K , bhausaheb nene college pen , Raigad on 02-09-2015    </p>
			<br>
			<div class="row md-2 events-img">

				<a class="col-sm-12 col-lg-6" href="../documents/hindi/hindi-events/26-09-2015.jpg"><img src="../documents/hindi/hindi-events/02-09-2015.jpg"> 

				<a class="col-sm-12 col-lg-6" href="../documents/hindi/hindi-events/26-09-2015-1.jpg"><img src="../documents/hindi/hindi-events/02-09-2015-1.jpg"></a>
				
			</div>
		</div>

		<div class="events"  > {{!-- library event 2019 --}}
			<h3 class="events-title" align="center"> <span> guest lecture</span> on 01-08-15 & 08-08-2015  </h3> <br>
			<p class="events-details">   Organize educational tour at Samarth ramdas swami ashram shivthargad mahad on 01-08-2015 & 08-08-2015   </p>
			<br>
			<div class="row md-2 events-img">

				<a class="col-sm-12 col-lg-6" href="../documents/hindi/hindi-events/01-08-2015 .jpg"><img src="../documents/hindi/hindi-events/01-08-2015 .jpg"></a>

				<a class="col-sm-12 col-lg-6" href="../documents/hindi/hindi-events/08-08-2015.jpg"><img src="../documents/hindi/hindi-events/08-08-2015.jpg"></a>
				
			</div>
		</div>
		
		 {{!-- library event 2019 end --}}


	</div> {{!--secound nav end --}}

	{{>footer}}
</body>

</html>